@page "/layout"
@inherits BaseViewModel<Model1>
<LayoutComponent T="Model1">
    <h3>PageWithLayoutComponent</h3>
</LayoutComponent>
<AnotherPageWithLayoutComponent></AnotherPageWithLayoutComponent>
@code {

}
